## MEASURE OF DISPERSION

In [1]:
#Variance

ages_lst=[23,43,23,56,74,32,68,98,45,32]

In [2]:
import numpy as np

In [3]:
mean=np.mean(ages_lst)

In [4]:
mean

49.4

In [5]:
var=np.var(ages_lst)

In [6]:
var

541.64

In [8]:
# Standard devotion
std=np.std(ages_lst)
std

23.273160507331188

In [10]:
import pandas as pd

In [12]:
data=[[10,12,13],[34,23,45],[32,34,21]]
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [13]:
df=pd.DataFrame(data)
df

    0   1   2
0  10  12  13
1  34  23  45
2  32  34  21

In [14]:
df.var()

0    177.333333
1    121.000000
2    277.333333
dtype: float64

In [15]:
df=pd.DataFrame(data,columns=["A","B","C"])
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [17]:
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [19]:
## Row wise
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64

In [20]:
## columnwise
df.var(axis=0)

A    177.333333
B    121.000000
C    277.333333
dtype: float64